body{
	margin:0;
	padding:0;
	font-family: arial;
	}
	
body#login{
	background-color: #EEE;
	}

i {
	font-style: italic;
	}

#login .session_spy{
	color: #fff;
	font-size: 2em;
	text-shadow: 0px 1px 2px #aaa;
	}

#login .wrap{
	position: relative;
	width: 350px;
	border-radius: 10px;
	background-color: #FFF;
	margin: 40px auto;
	-moz-box-shadow: 0 0 5px 5px #CCC;
	-webkit-box-shadow: 0 0 5px 5px #CCC;
	box-shadow: 0 0 5px 5px #CCC;
	overflow: hidden;
	}

#login h1{
	font-size: 24px;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	padding: 15px 0 0 0;
	border-top: 2px solid #185998;
	}

#login form{
	padding: 30px;
	border-bottom: 2px solid #185998;
	}

#login form img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	}

#login .req{
	color: #F00;
	font-size: 0.9em;
	display: none;
	}

#login #user,
#login #pass{
	margin: 3px 0 8px;
	padding: 2px;
	width: 280px;
	}

#login #submit{
	float: right;
	/*border: none;
	border-radius: 8px;*/
	font-size: 1em;
	padding: 5px 10px;
	color: #FFF;
	}

button,
input[type="button"],
input[type="submit"]{
	cursor: pointer;
	padding: 5px 8px;
	border: none;
	/* border-radius: 8px; */
	border-radius: 2px;
	color: #FFF;
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	}

.green{/*  #b4e391 #B4E300 */
	background: #B4E300;
	background: -moz-linear-gradient(top,  #B4E300 0%, #61c419 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B4E300), color-stop(99%,#61c419));
	background: -webkit-linear-gradient(top,  #B4E300 0%,#61c419 99%);
	background: -o-linear-gradient(top,  #B4E300 0%,#61c419 99%);
	background: -ms-linear-gradient(top,  #B4E300 0%,#61c419 99%);
	background: linear-gradient(to bottom,  #B4E300 0%,#61c419 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4E300', endColorstr='#61c419',GradientType=0 );
	}
	
.red{
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	}

button>span{
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	}

#refresh_data{
	margin-left: 10px;
	margin-top: 5px;
	}

#refresh_data span{
	background: url('../images/refresh.png') no-repeat scroll transparent;
	width: 16px;
	}
	
#add_var:before{
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	border-left: 2px solid #000;
	height: 100%;
	}
#add_var{
	margin-left: 14px;
	position: relative;
	}

#add_var span{
	background: url('../images/plus_16.png') no-repeat scroll transparent;
	width: 16px;
	/* height: 20px; */
	}

#data_view_toolbar{
	float: right;
	padding: 5px;
	}

#data_new_window>span{
	background: url('../images/top_right_expand.png') no-repeat scroll transparent;
	width: 16px;
	}

#toggle_panels>span{
	background: url('../images/fullscreen.png') no-repeat scroll transparent;
	width: 16px;
	}

#delete_session>span{
	background: url('../images/delete_16.png') no-repeat scroll transparent;
	width: 16px;
	}



.session_spy{
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 24px;
	font-weight: bold;
	}

a.session_spy,
a.session_spy:link,
a.session_spy:hover,
a.session_spy:visited{
	color: #fff;
	text-decoration: none;
	}

#logout,
#show_users{
	float: right;
	margin: 10px 10px 0 0;
	}

.me{
	margin: 8px 10px 0 0;
	float: right;
	position: relative;
	top: 8px;
	right: 5px;
	}

.header{
	width: 100%;
	background-color: #CDF;
	height: 40px;
	position: relative;
	border-bottom: 1px solid #569;
	}

.ui-layout-toggler{
	background-color: #76B6F4;
	}

.ui-layout-north,
.ui-layout-resizer-north-closed{
	background-color: #185998;
	color: #fff;
	}

.ui-layout-resizer-north-closed .ui-layout-toggler{
	background-color: #1ABE11;
	}

.ui-layout-east #add_user{
	float: right;
	position: relative;
	top: 5px;
	right: 2px;
	}
	
.ui-layout-east #add_user span{
	background: url('../images/add_user.png') no-repeat scroll transparent;
	display: block;
	text-indent: -1000px;
	width: 20px;
	}
	
.ui-layout-east .header>span{
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 8px;
	}

.ui-layout-pane{
	padding: 0;
	}

	
#loading_data{
	display: none;
	}

.sid_search_box{
	padding-right: 43px;
	position: relative;
	width: 200px;
	margin: 0 auto;
	top: 6px;
	}

#sid_search{   
	font-family: monospace;
    font-size: 14px;
    width: 100%;
	border: 1px solid #AAA;
	padding: 3px;
	}

#sid_search_button{
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	font-size: 14px;
	border-radius: 0 8px 8px 0;
	padding: 3px 8px;
	color: #FFF;
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	}

#sid_search_button span{
	background: url('../images/search.png') no-repeat scroll transparent;
	display: block;
	text-indent: -1000px;
	width: 16px;
	}



.no-data{
	text-align: center;
	display: block;
	padding: 8px;
	color: #999;
	}

#list{
	list-style: none;
	font-family: monospace;
	padding: 0;
	}

#users{
	list-style: none;
	font-size: 14px;
	}

#list .item,
#users .item{
	padding:5px;
	}
#list .item{
	text-align: center;
	}
#list .item.empty{
	background-color: #eee;
	}
#list .item.mine{
	background-color: #ffa;
	}

#list .item:hover,
#users .item:hover{
	background-color: #CDF;
	cursor: pointer;
	}
	
#users .item .role{
	float: right;
	color: #999;
	font-style: italic;
	}

#list .item.active{
	background-color: #DFC;
	}
	
#cur_sess{
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	}



.header .new-row {
	background-color: #ABF;
	position: absolute;
	top: 40px;
	z-index: 1;
	padding: 10px;
	border-radius: 0 0 5px;
	border: 1px solid #569;
	border-width: 0px 1px 1px 0;
	}

.new-row .key {
	vertical-align: middle;
	border: 1px solid #bbb;
	min-height: 18px;
	}


#data{
	line-height: 1.2em;
	padding: 8px 0;
	}

/* .array ul{ */
#data .more-ex{
	display: none;
	margin-left: 20px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-left: 1px dotted #999;
	}

	
	
#data li.hover{
	background-color: #CDF;
	}

#data .no-data{
	font-size: 24px;
	padding: 18px;
	}
	
#data  .more{
	text-decoration: none;
	}
#data  .more:hover{
	text-decoration: underline;
	}

/* 
#data .key.string:before,
#data .key.string:after{
	content: '';
	} */
	
#data .save:hover, 
#data .revert:hover, 
#data .delete:hover, 
#data .alter:hover,
.new-row .save:hover, 
.new-row .revert:hover, 
.new-row .cancel:hover, 
.new-row .alter:hover{
	opacity: 1;
	}
	
#data .save, 
#data .revert, 
#data .delete, 
#data .alter,
.new-row .save, 
.new-row .revert, 
.new-row .cancel, 
.new-row .alter {
	display: none;
	margin-left: 8px;
	cursor: pointer;
	vertical-align: text-top;
	position: relative;
	top: 2px;
	opacity: 0.5;
	}

	
#data  li:hover > .delete, 
#data li:hover > .array  > .delete,
#data  li:hover > .alter,
.new-row .save, 
.new-row .revert, 
.new-row .cancel, 
.new-row .alter {
	display: inline;
	}
	
#data li > .type,
.new-row .type {
	display: none;
	margin-left: 8px;
	}
	
#data .value.string,
.new-row .value.string {
	height: 1.2em;
	width: 400px;
	vertical-align: text-top;
	border: none;
	position: relative;
	top: 1px;
	min-height: 18px;
	padding: 1px;
	}

.new-row .value.string {
	position: static;
	}
.new-row .value.integer,
.new-row .value.double,
.new-row .value.boolean {
	position: static;
	border: 1px solid #bbb;
	vertical-align: top;
	min-height: 18px;
	}
	/* 
#data .string:before,
#data .string:after{
	content: '"';
	display: inline;
	} */

#data .string,
.new-row .string {
	color: #C00;
	font-family: arial;
	}
	
#data .integer,
#data .number,
.new-row .integer,
.new-row .number {
	color: #006;
	}
	
#data .float,
#data .double,
.new-row .float,
.new-row .double {
	color: #069;
	}

#data .class-info{
	color: #A55;/*hehe*/
	font-style: italic;
	padding-left: 10px;
	}

#data .boolean,
.new-row .boolean {
	color: #066;
	}

#data .null,
.new-row .null {
	color: #006;
	font-weight: bold;
	font-family: monotype;
	}

#data .object {
	color: #060;
	}

#data .resource {
	color: #404;
	}

#data .unknown {
	color: #404;
	}

#data .public,
#data .private,
#data .protected {
	padding: 0 5px;
	vertical-align: middle;
	}

#data .value {
	padding: 0 0 0 5px;
	}
#data .array_add {
	padding: 3px 10px;
	}


/* 
#data  .key.more:before {
	content: '+';
	display: inline-block;
	}
 */
#data .key,
.new-row  .key {
	font-weight: bold;
	width: 200px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	padding-left: 10px;
	}

#data .key.string,
.new-row .key.string {
	color: #060;
	}
#data .key.number {
	color: #900;
	}
#data .key .empty {
	color: #999;
	}
	
#data .input-row:before {
	content: "+";
	position: absolute;
	left: -7px;
	top: 5px;
	font-size: 24px;
	}
#data .input-row {
	background-color:#ffa;
	padding: 3px 0;
	position: relative;
	}

#data .input-row input.key {
	padding: 0;
	margin: 0;
	color: #060;
	margin-left: 7px;
	}


.input-row .value.string,
.new-row .value.string {
	border: 1px solid #bbb !important;
	}

#data .input-row .save, 
#data .input-row .delete, 
#data .input-row .alter {
	display: inline;
	}

.empty i {
	color: #999;
	}



