body{
	margin:0;
	padding:0;
	font-family: arial;
	}
	
body#login{
	background-color: #EEE;
	}

#login .session_spy{
	color: #fff;
	font-size: 2em;
	text-shadow: 0px 1px 2px #aaa;
	}

#login .wrap{
	position: relative;
	width: 350px;
	border-radius: 10px;
	background-color: #FFF;
	margin: 40px auto;
	-moz-box-shadow: 0 0 5px 5px #CCC;
	-webkit-box-shadow: 0 0 5px 5px #CCC;
	box-shadow: 0 0 5px 5px #CCC;
	}

#login h1{
	font-size: 24px;
	font-weight: bold;
	font-family: arial;
	text-align: center;
	padding: 15px 0 0 0;
	}

#login form{
	padding: 30px;
	}

#login form img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	}

#login .req{
	color: #F00;
	font-size: 0.9em;
	display: none;
	}

#login #user, #login #pass{
	margin: 3px 0 8px;
	padding: 2px;
	width: 280px;
	}

#login #submit{
	float: right;
	border: none;
	border-radius: 8px;
	font-size: 1em;
	padding: 5px 10px;
	color: #FFF;
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	}

.session_spy{
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 24px;
	font-weight: bold;
	}

a.session_spy, a.session_spy:link, a.session_spy:hover, a.session_spy:visited {
	color: #fff;
	text-decoration: none;
	}

.me{
	float: right;
	position: relative;
	top: 8px;
	right: 5px;
	}

.header{
	width: 100%;
	background-color: #CDF;
	height: 40px;
	}

.ui-layout-toggler{
	background-color: #76B6F4;
	}

.ui-layout-north, .ui-layout-resizer-north-closed{
	background-color: #185998;
	color: #fff;
	}

.ui-layout-resizer-north-closed .ui-layout-toggler{
	background-color: #1ABE11;
	}

.ui-layout-west, .ui-layout-center, .ui-layout-north{
	padding: 0;
	}

	
#loading_data{
	display: none;
	}

.sid_search_box{
	padding-right: 43px;
	position: relative;
	width: 200px;
	margin: 0 auto;
	top: 6px;
	}

#sid_search{   
	font-family: monospace;
    font-size: 14px;
    width: 100%;
	border: 1px solid #AAA;
	padding: 3px;
	}

#sid_search_button{
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	font-size: 14px;
	border-radius: 0 8px 8px 0;
	padding: 3px 8px;
	color: #FFF;
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	}

#sid_search_button span{
	background: url('../images/search.png') no-repeat scroll transparent;
	display: block;
	text-indent: -1000px;
	width: 16px;
	}



.no-data{
	text-align: center;
	display: block;
	padding: 8px;
	color: #999;
	}

#list{
	list-style: none;
	font-family: monospace;
	}

#list .item{
	padding:5px 5px 5px 10px;
	}

#list .item:hover{
	background-color: #CDF;
	cursor: pointer;
	}

#list .item.active{
	background-color: #DFC;
	}
	
#cur_sess{
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	}

#data{
	line-height: 1.2em;
	}

.array ul{
	display: none;
	margin-left: 20px;
	margin-bottom: 3px;
	}

	
	
#data li.hover{
	background-color: #CDF;
	}

#data .no-data{
	font-size: 24px;
	padding: 18px;
	}
	
#data  .more{
	text-decoration: none;
	}
#data  .more:hover{
	text-decoration: underline;
	}


#data .key.string:before, #data .key.string:after{
	content: '';
	}
#data .string:before, #data .string:after{
	content: '"';
	display: inline;
	}

#data .string{
	color: #C00;
	}

#data .integer, #data .number{
	color: #006;
	}
	
#data .float, #data .double{
	color: #069;
	}

#data .class-info{
	color: #A55;/*hehe*/
	font-style: italic;
	padding-left: 10px;
	}

#data .boolean{
	color: #066;
	text-transform: capitalize;
	}

#data .null{
	color: #003;
	}

#data .object{
	color: #060;
	}

#data .resource{
	color: #404;
	}

#data .unknown{
	color: #404;
	}

#data .public, #data .private, #data .protected{
	padding: 0 5px;
	vertical-align: middle;
	}

#data .value{
	padding: 0 0 0 5px;
	}



#data  .key.more:before{
	content: '+';
	display: inline-block;
	}

#data .key{
	font-weight: bold;
	width: 200px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	}

#data .key.string{
	color: #060;
	}
#data .key.number{
	color: #900;
	}
	