body{
	margin:0;
	padding:0;
	}

.session_spy{
	position: relative;
	top: 10px;
	left: 20px;
	font-size: 24px;
	font-weight: bold;
	}

.me{
	float: right;
	position: relative;
	top: 8px;
	right: 5px;
	}

.header{
	width: 100%;
	background-color: #CDF;
	height: 40px;
	}

.ui-layout-north{
	background-color: #CDF;
	}

.ui-layout-west, .ui-layout-center, .ui-layout-north{
	padding: 0;
	}


#id_search{   
	font-family: monospace;
    font-size: 16px;
    margin-top: 8px;
    width: 100%;
	}



#list{
	list-style: none;
	font-family: monospace;
	}

#list .item{
	padding:5px 5px 5px 10px;
	}

#list .item:hover{
	background-color: #CDF;
	cursor: pointer;
	}

#list .item.active{
	background-color: #DFC;
	}

.array ul{
	display: none;
	margin-left: 20px;
	margin-bottom: 3px;
	}


	
#data  .more{
	text-decoration: none;
	}
#data  .more:hover{
	text-decoration: underline;
	}


#data .string{
	color: #C00;
	}

#data .int, #data .number{
	color: #006;
	}
	
#data .float, #data .double{
	color: #069;
	}
/*
#data .array{
	color: #A55;hehe
	}*/

#data .bool{
	color: #066;
	}

#data .null{
	color: #003;
	}

#data .object{
	color: #060;
	}

#data .resource{
	color: #404;
	}

#data .unknown{
	color: #404;
	}


#data  .key.more:before{
	content: '+';
	display: inline-block;
	}

#data .key{
	font-weight: bold;
	width: 160px;
	display: inline-block;
	overflow: hidden;
	}

#data .key.string{
	color: #060;
	}
#data .key.number{
	color: #900;
	}
	